
.navbar{
    background: #fff !important;
}

.round-i{
  padding: 10px 13px 10px 13px;
  border-radius: 50%;
  border: solid 1px;  
  color: #5cb85c
}

@media(max-width: 575px){
    nav .container{
        width: 100%;
    }
    
    
}


#home-sec{
    background: url('https://s13.postimg.org/qpx9ou0kn/pic4.jpg') fixed no-repeat center;
    background-attachment: fixed;
    min-height: 600px;
    background-size: cover;
}

.overlay{
    top: 0;
    left: 0;
    min-height: 600px;
    background-attachment: fixed;
    background: #5cb85c;
    opacity: 0.5; 
    width: 100%;
    
}

#contain{
  padding-top: 150px;
}

#menucolor{
    color: #5cb85c !important;
}

#pcolorbody{
    color:#5cb85c;
    opacity: 0.8;
    font-size: 60px;
    font-weight: bolder
}

#pcolorbody1{
    color:#fff;
    font-size: 60px;
    font-weight: 400;
}

#pcolorbody2{
    color:#5cb85c;
    font-size: 30px;
    font-weight: bolder
}

.p-text{
    font-size: 15px; 
}

/*Small devices (Portrait view)*/
@media(max-width: 575px){
    

    .textadj1{
        font-size: 31px !important;
    }

    .textadj2{
        font-size: 21px !important;
    }
    
    .textadj3{
        font-size: 50px !important;
        left: 0;
        right: 0;

    }

  #contain{
    padding-top: 250px;
  } 
    
}


/*Small devices (Landscape view)*/
@media(min-width: 576px){
    

    .textadj1{
        font-size: 38px !important;
    }

    .textadj2{
        font-size: 28px !important;
    }

    .img-size{
        width: 300px;
        
    }

     #contain{
    padding-top: 150px;
  } 

  .textadj3{
        font-size: 80px !important;
        left: 0;
        right: 0;

    }

}

@media(max-width:767px){
  #contain{
    padding-top: 90px !important;
  }
  .textadj3{
    font-size: 80px !important;
  }
}
/*Desktop*/
@media(min-width: 1200px){
   

    .display{
        padding: 1.5em !important;
    }

    .textadj1{
        font-size: 48px !important;
    }

     #contain{
    padding-top: 150px;
  } 
   
}

#txtdisplay{

    font-size: 30px;
    line-height: 1.5em;
    color: #5cb85c;
    
}

a{
   color: #fff !important;

}

a:hover{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}
.a-color{
    font-size: 30px !important;
    
}

.circle-icon{
    background: #5cb85c;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}
#pcolor1{
    color: #5cb85c;
    opacity: 0.6;
}


  