<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio Project</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>


<!--####STARTED HERE###-->

<!--NAVIGATION BAR-->
<body>

    <nav class="navbar navbar-toggleable-md navbar-light py-3 fixed-top">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
           <a href="#" class="navbar-brand" >
                <i id="pcolorbody2">DEVSISI</i>
           </a>
       
           <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav ml-auto">
                   <li class="nav-item">
                       <a href="#home-sec" class="nav-link js-scroll-trigger" id="menucolor">Home</a>
                   </li>
                   <li class="nav-item">
                           <a href="#about-sec" class="nav-link" id="menucolor">About</a>
                       </li>
                       <li class="nav-item">
                               <a href="#work-sec" class="nav-link" id="menucolor">Work</a>
                           </li>
                           <li class="nav-item">
                                   <a href="#contact-sec" class="nav-link" id="menucolor">Contact</a>
                               </li>
                               
               </ul>
           </div>
           </div>
       </nav>

<!--HOME SECTION-->
<section id="home-sec">
    <div class="overlay">
        <div class="container text-center" id="contain">
            
                
                <p class="display-3 text-white textadj3 pt-5">Passion & discipline paves the way</p>
                <p class="display-5 text-white"><i>- yours truly</i></p>
            </div>

        </div>
    </div>
</section>

<!-- ABOUT SECTION -->

<section>
    
        <br><br>
        <div class="container text-center" id="about-sec">
            <p class="display-4 textadj1 text-center" id="pcolorbody"><i>ABOUT ME!</i></p>
        
        
        <img src="https://s13.postimg.org/5624utl53/pic1.jpg" alt="girl smiling" class="img-responsive rounded-circle text-right" height="170px"> 
        
            <br><br>
            
                    <p class="display-4 textadj2" id="txtdisplay">Hi! I'm Amaka. <i>Twenty-two y/o front-end developer and writer.</i> </p>
                    <p class="display-4 textadj2" id="txtdisplay">My love for beautifully
                            crafted websites and </p>
                
                    <p class="display-4 textadj2" id="txtdisplay">a need to express my creativity drew me to the web.</p>

            
        
    </div>
</section>



<!--WORK SECTION-->
<section>
    
        <br><br>
        <div class="container text-center" id="work-sec">
            <p class="display-4 textadj1 text-center" id="pcolorbody"><i>SKILLS & PROJECTS</i></p>
            
            
    
                    <p class="display-4 textadj2" id="txtdisplay">Currently, am learning via the Freecodecamp platform and so far have become</p>
                         
                    <p class="display-4 textadj2" id="txtdisplay">proficient in <i>HTML, CSS, Bootstrap</i> and a bit of<i> Javascript & jQuery.</i></p>
                    <p class="display-4 textadj2" id="txtdisplay">Here are some projects I have worked on:</p>
          <i class= "fa fa-angle-double-down round-i" id="bounce">
            
          </i>
        
    </div> 
    
    
</section>

<br>
    <div class="container" id="work-sec">
        <div class="row text-center">
            <div class="col-md-2 pic-hide ">
                <a href="https://codepen.io/devsisi/full/vpWLZv/" target="1"><img src="https://s13.postimg.org/8acsrfeqf/pic7.png" alt="" class="img-thumbnail img-fluid img-size">
                </a>
            </div>
            <div class="col-md-2 py-4 pic-hide">
                <a href="https://codepen.io/devsisi/full/MQxgBZ/"target="1"><img src="https://s13.postimg.org/jzgsfdq9j/pic6.png" alt="" class="img-thumbnail img-fluid img-size">
                </a>
            </div>
            <div class="col-md-2 text-center pic-hide">
                <a href="https://codepen.io/devsisi/full/NyJedW/"target="1"><img src="https://s13.postimg.org/wquylvsbr/pic5.png" alt="" class="img-thumbnail img-fluid img-size">
                </a>
            </div>
            <div class="col-md-2 py-4 pic-hide">
                <a href="https://codepen.io/devsisi/full/xYpaXQ/" target="1"><img src="https://s13.postimg.org/7ku0f26h3/pic3.png" alt="" class="img-thumbnail img-fluid img-size ">
                </a>
            </div>
            <div class="col-md-2 pic-hide">
                <a href="https://codepen.io/devsisi/full/yvwGXa/" target="1"><img src="https://s13.postimg.org/u5pdy981z/pic2.png" alt="" class="img-thumbnail img-fluid img-size">
                </a>
            </div>
            
    
        </div>


    </div>

<br><br>
<!--CONTACT SECTION-->
<section>
    
        
        <div class="container text-center" id="contact-sec">
            <p class="display-4 textadj1 text-center" id="pcolorbody"><i>GET IN TOUCH!</i></p>
    <form>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon bg-success text-white">
                    <i class="fa fa-user"></i>
                </span>
                <input type="text" class="form-control bg-inverse text-white" placeholder="Your name here">   
            </div>
        </div>

        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon bg-success text-white">
                    <i class="fa fa-envelope"></i>
                </span>
                <input type="email" class="form-control bg-inverse text-white" placeholder="Your email here">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon bg-success text-white">
                    <i class="fa fa-pencil"></i>
                </span>
                <textarea  rows="6" class="form-control bg-inverse text-white" placeholder="Your message here"></textarea>

        
        </div>
        <br>
        <button class="btn btn-success btn-lg btn-block" type="submit">Submit</button>
    </form>
        
            
        </div>
    </div>
</section>

<br><br>

<!--SOCIAL MEDIA ICONS-->

<div class="container text-center" id="contact-sec">

    <p class="display-4 textadj1 text-center" id="pcolorbody"><i>CONTACT ME ON SOCIAL MEDIA</i></p>
    <ul class="list-inline text-center">
            <li class="list-inline-item mx-3 a-color">
                 <a href="https://www.facebook.com/codeamaka" target="1">
                     <i class="fa fa-facebook circle-icon"></i>
                 </a>
         </li>
            <li class="list-inline-item  mx-3 a-color">
                <a href="https://www.twitter.com/dev_sisi" target="2">
                    <i class="fa fa-twitter circle-icon"></i>

                </a>
     
            </li>
            <li class="list-inline-item  mx-3 my-3 a-color">
                 <a href="https://www.instagram.com/dev_sisi" target="3" > 
                    <i class="fa fa-instagram circle-icon"></i>
                 </a>
     
            </li>
            <li class="list-inline-item mx-3 a-color" >
                 <a href="https://www.github.com/devsisi" target="4">
                        <i class="fa fa-github circle-icon"></i>

                 </a>
     
            </li>
        </ul>
    
    </div>
</div>

<br><br><br>
<!--FOOTER-->
<footer>
    <div class="bg-white pb-2 pt-2 text-center">
        <p class="display-5 text-success">
            <span><i class="fa fa-copyright"></i></span>2018. Made with <i class="fa fa-heart"></i> & <i class="fa fa-fire"></i> 
        </p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>$(document).ready(function(){
  
  $('.pic-hide').hide();
  $('.round-i').on('click', function(){
   
    $('.pic-hide').toggle();
  })
}) </script>
</body>
</html>    